<div class="row mb-3">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <time>{{ item.dateTime|date('d.m.Y') }}</time>
        <time>{{ item.dateTime|date('H:i') }}&nbsp;Uhr</time>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div id="map-{{ item.uniqId }}"
             data-map-marker-icon="fa-bicycle"
             data-map-marker-color="yellow"
             data-map-marker-shape="square"
             data-map-center-latitude="{{ item.incident.latitude }}"
             data-map-center-longitude="{{ item.incident.longitude }}"
             data-map-zoomlevel="15"
             data-map-marker-latitude="{{ item.incident.latitude }}"
             data-map-marker-longitude="{{ item.incident.longitude }}"
             data-lock-map="true"
             style="height: 150px;">

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div class="row">
            <div class="col-md-12">
                <strong>
                    {{ item.username }}
                </strong>
                hat eine neue Gefahrenstelle eingetragen:
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('caldera_cycleways_incident_show', { slug: item.incident.slug }) }}">
                    <h4>
                        {{ item.title }}
                    </h4>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ item.description|slice(0, 140)|parse }}…
                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    CriticalMass.loadModule('AutoMap', 'map-{{ item.uniqId }}');
</script>