{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Willkommen bei Cycleways{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-xs-center">
                <h1>
                    Willkommen bei Cycleways
                </h1>

                <p class="lead">
                    Cycleways sammelt Informationen zu Gefahrenstellen für Radfahrer und schlechter Fahrradinfrastruktur.
                </p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-4">
                <h4>
                    Neuste Gefahrenstellen
                </h4>

                <ul class="list-group">
                    {% for incident in incidentList %}
                    <li class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <a href="{{ path('caldera_cycleways_incident_show', { slug: incident.slug }) }}">
                                <h5 class="mb-1">
                                    {{ incident.title }}
                                </h5>
                            </a>

                            <small>{{ incident.creationDateTime|date('d.m.Y H:i') }} Uhr</small>
                        </div>

                        <p class="mb-1">
                            {{ incident.description[:250] }}
                        </p>

                        <small class="text-muted">
                            erstellt von {{ incident.user.username }}
                        </small>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-4">
                <h4>
                    Neuste Kommentare
                </h4>

                <ul class="list-group">
                    {% for post in postList %}
                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <a href="{{ path('caldera_cycleways_incident_show', { slug: post.incident.slug }) }}">
                                    <h5 class="mb-1">
                                        {{ post.incident.title }}
                                    </h5>
                                </a>

                                <small>{{ post.dateTime|date('d.m.Y H:i') }} Uhr</small>
                            </div>

                            <p class="mb-1">
                                {{ post.text[:250] }}
                            </p>

                            <small class="text-muted">
                                geschrieben von {{ post.user.username }}
                            </small>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-4">
                <h4>
                    Neuste Fotos
                </h4>

                <ul class="list-group">
                    {% for photo in photoList %}
                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <a href="{{ path('caldera_cycleways_incident_photo_show', { slug: photo.incident.slug, photoId: photo.id }) }}">
                               <img class="img-thumbnail" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}" />
                            </a>

                            <div class="mt-1 d-flex w-100 justify-content-between">
                                <a href="{{ path('caldera_cycleways_incident_show', { slug: photo.incident.slug }) }}">
                                    <h5 class="mb-1">
                                        {{ photo.incident.title }}
                                    </h5>
                                </a>

                                <small>{{ photo.dateTime|date('d.m.Y H:i') }} Uhr</small>
                            </div>

                            <p class="mb-1">
                                {{ photo.description[:250] }}
                            </p>

                            <small class="text-muted">
                                hochgeladen von {{ photo.user.username }}
                            </small>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
