<!DOCTYPE html>
<html lang="en">
<head>
    {% include('CalderaCyclewaysBundle:Template:Includes/_meta.html.twig') %}

    <title>{% block title %}{% endblock %} — Cycleways</title>

    <link rel="stylesheet" href="{{ asset('bundles/calderacycleways/css/cycleways.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/calderacycleways/css/external/bootstrap4/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/calderacycleways/css/external/leaflet/leaflet-0.7.7.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/calderacycleways/css/external/leaflet/extramarkers.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/calderacycleways/css/external/fontawesome/font-awesome.css') }}"/>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script>
        var bundleBaseDirectory = 'bundles/calderacycleways';
    </script>

    <script src="{{ asset('bundles/calderacycleways/js/external/requirejs/require.js') }}"></script>
    <script src="{{ asset('bundles/calderacycleways/js/CriticalMass.js') }}"></script>

    {% block additionalHeaderElements %}{% endblock %}
</head>

<body class="{% block bodyClass %}{% endblock %}">
{% if 0 and not app.user %}
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ render(controller('CalderaCriticalmassSiteBundle:Security:loginFormModal' )) }}
            </div>
        </div>
    </div>
{% endif %}

{% block masterContent %}{% endblock %}

<script src="{{ asset('bundles/calderacycleways/js/external/jquery/jquery-3.1.0.min.js') }}"></script>
<script src="{{ asset('bundles/calderacycleways/js/external/bootstrap4/bootstrap.min.js') }}"></script>

{% block additionalFooterElements %}{% endblock %}
</body>
</html>
