{% if incident.incidentStatus %}
    {% set incidentStatus = incident.incidentStatus.status %}
{% else %}
    {% set incidentStatus = null %}
{% endif %}

{% if app.user %}
<select id="status-select" class="selectpicker" data-style="btn-secondary"  data-icon-base="fa" data-tick-icon="fa-check" data-live-search="true">
    {% for status in statusList %}
    <option{% if status == incidentStatus %} selected="selected"{% endif %} value="{{ status.id }}" data-content="<div class='tag incident-status' style='{{ status.style }}'>{{ status.caption }}</div>">
        {{ status.caption }}
    </option>
    {% endfor %}
</select>
{% else %}
{{ include('AppBundle:IncidentStatus:_incidentStatus.html.twig', { incidentStatus: incident.incidentStatus }) }}
{% endif %}
