{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Gefahrenstellen ergänzen{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Gefahrenstelle ergänzen
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 400px;">

                </div>
            </div>
        </div>

        {{ form_start(form) }}
        <div class="row mt-2">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            Allgemeine Informationen
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.incidentType) %} has-danger{% endif %}">
                            <label class="control-label" for="">Art der Gefahrenstelle:</label>
                            {{ form_widget(form.incidentType, { 'attr' : { 'class': 'form-control'} }) }}
                            <p class="help-block">
                                Um welche Art von Gehfahrenstelle handelt es sich?
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.dangerLevel) %} has-danger{% endif %}">
                            <label class="control-label" for="">Höhe der Gefahr:</label>
                            {{ form_widget(form.dangerLevel, { 'attr' : { 'class': 'form-control'} }) }}
                            <p class="help-block">
                                Wie gefährlich ist es hier?
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.title) %} has-danger{% endif %}">
                            {% if form_errors(form.title) %}
                            <div class="alert alert-danger">{{ form_errors(form.title) }}</div>
                            {% endif %}
                            <label class="control-label" for="">Titel:</label>
                            {{ form_widget(form.title, { 'attr' : { 'class': 'form-control'} }) }}
                            <p class="help-block">
                                Worum geht es bei dieser Gefahrenstelle?
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.description) %} has-danger{% endif %}">
                            {% if form_errors(form.description) %}
                            <div class="alert alert-danger">{{ form_errors(form.description) }}</div>
                            {% endif %}
                            <label class="control-label" for="">Beschreibung:</label>
                            {{ form_widget(form.description, { 'attr' : { 'class': 'form-control'} }) }}
                            <p class="help-block">
                                Bitte beschreibe diese Gefahrenstelle.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.street) or form_errors(form.houseNumber) %} has-danger{% endif %}">
                            <label class="control-label" for="">Adresse:</label>
                            <div class="row">
                                <div class="col-md-9">
                                    {{ form_widget(form.street, { 'attr' : { 'class': 'form-control'} }) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_widget(form.houseNumber, { 'attr' : { 'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <p class="help-block">
                                Straße und Hausnummer der Gefahrenstelle.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.streetviewLink) %} has-danger{% endif %}">
                            <label class="control-label" for="">Link zu Google Streetview:</label>
                            {{ form_widget(form.streetviewLink, { 'attr' : { 'class': 'form-control'} }) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.dateTime) %} has-danger{% endif %}">
                            <label class="control-label" for="">Zeitpunkt des Vorfalls:</label>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_widget(form.dateTime.date, { attr: { class: 'form-control datepicker' } }) }}
                                </div>

                                <div class="col-md-6">
                                    {{ form_widget(form.dateTime.time, { attr: { class: 'form-control' } }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.expires) %} has-danger{% endif %}">
                            <label class="control-label" for="">Gefahrenstelle ist zeitlich begrenzt:</label>
                            {{ form_widget(form.expires, { 'attr' : { 'class': 'form-control'} }) }}
                        </div>
                    </div>
                </div>

                <div id="daterange" class="input-daterange">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group{% if form_errors(form.visibleFrom) %} has-danger{% endif %}">
                                <label class="control-label" for="">Beginn:</label>
                                {{ form_widget(form.visibleFrom, { 'attr' : { 'class': 'form-control'} }) }}
                                <p class="help-block">
                                    Ab wann gilt diese Gefahrenstelle?
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group{% if form_errors(form.visibleTo) %} has-danger{% endif %}">
                                <label class="control-label" for="">Ende:</label>
                                {{ form_widget(form.visibleTo, { 'attr' : { 'class': 'form-control'} }) }}
                                <p class="help-block">
                                    Bis wann gilt diese Gefahrenstelle?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    Du kannst nach dem Erstellen einer Gefahrenstelle Fotos und Abbildungen hinzufügen.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <a href="{{ path('caldera_cycleways_frontpage') }}" class="btn btn-secondary">
                        Abbrechen
                    </a>

                    <button type="submit" class="btn btn-primary">
                        Speichern
                    </button>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>

    <script>
        Cycleways.loadModule('CyclewaysIncidentEditPage', null, null, function (incidentPage) {
            incidentPage.setFous([53.554423, 9.994583], 10);
        });
    </script>
{% endblock %}
