{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Gefahrenstellen{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Gefahrenstellen
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Bezeichnung
                            </th>

                            <th>
                                erstellt
                            </th>

                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for incident in incidentList %}
                        <tr>
                            <td>
                                <a href="{{ path('caldera_cycleways_incident_show', { slug: incident.slug }) }}">
                                    {{ incident.title }}
                                </a>
                            </td>

                            <td>
                                {{ incident.creationDateTime|date('d.m.Y H:i') }} Uhr
                                <br />
                                von {{ incident.user.username }}
                            </td>

                            <td>
                                {% if incident.issuer %}
                                {{ incident.issuer.user.username }}
                                {% else %}
                                <em>nicht zugewiesen</em>
                                {% endif %}
                                <br />
                                {{ include('AppBundle:IncidentStatus:_incidentStatus.html.twig', { 'incidentStatus': incident.incidentStatus } ) }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
